fastapi
uvicorn[standard]
python-dotenv
pydantic
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
groq
pymupdf
pypdf
python-multipart
